{% extends "base.html" %}

{% block additional_imports %}
<script src="{{ STATIC_URL }}js/page_progress.js"></script>
<script>
	var Status = {{ page.url.status }};
	var Timestamp = {{ timestamp }};
	var PageID = {{ page.url.id }};
	var FetchRunning = false;	//lock
	var CheckInterval = 5000; //data fetch interval
	var e_pf = true;//data fetching
	var e_pr = true;//render progressbar
	var e_vb = true;//debug output
	
	var s_pcss = 'progress-striped';
	var s_pbis = 'progress-bar-info';
	var s_pbss = 'progress-bar-success';
	var s_pbds = 'progress-bar-danger';
	$(window).load( startProgress );
	window.setInterval(progressBarUpdate, CheckInterval);
</script>
{% endblock %}

{% autoescape on %}
{% block title %} Image fetcher | {{ page.url.url }} {% endblock %}
{% endautoescape %}

{% block container %}
    <div class="container">
        <h1 style="text-align: center;">Saved images from  {{ page.url.url }}</h1>
        <br/>
        Images:
		<div>
			<div id="mpc" class="progress active">
			  <div id="mpb" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
				<span class="sr-only">
					<span id="mpll" class="prgspan">0</span> of <span id="mplt" class="prgspan">0</span>
				</span>
			  </div>
			</div>
		</div>
        <br />
        {% for image in images %}
    		<a href="{{MEDIA_URL}}{{image.id}}.{{image.ext}}">
				<img
					class="img_preview"
					src="{%if image.url.status == 2%}{{MEDIA_URL}}{{image.id}}.{{ image.ext }}{% else %}{{ image.url }}{% endif %}"
				/>
			</a>
        {% endfor %}
    </div>
    <hr>
{% endblock %}
