{% extends "base.html" %}

{% block additional_imports %}
<script src="{{ STATIC_URL }}js/page_progress.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/blueimp-gallery.min.css">
<script src="{{ STATIC_URL }}js/blueimp-gallery.min.js"></script>
<script>
    //init pageinfo
    var Status = {{ page.url.status }};
    var Timestamp = {{ timestamp }};
    var PageID = {{ page.url.id }};
    //settings
    var FetchRunning = false;    //lock
    var CheckInterval = 5000; //data fetch interval
    var e_pf = true;//data fetching
    var e_pr = true;//render progressbar
    var e_vb = true;//debug output
    
    var s_pcss = 'progress-striped';
    var s_pbis = 'progress-bar-info';
    var s_pbss = 'progress-bar-success';
    var s_pbds = 'progress-bar-danger';
    $(window).load( startProgress );
    window.setInterval(progressBarUpdate, CheckInterval);
    $(window).load((function(){document.getElementById('imglst').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
            link = target.src ? target.parentNode : target,
            options = {index: link, event: event},
            links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };
    }));
</script>
{% endblock %}

{% autoescape on %}
{% block title %} Image fetcher | {{ page.url.url }} {% endblock %}
{% endautoescape %}
{% block bodyimports %}
   <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery  blueimp-gallery-controls">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
{% endblock %}
{% block container %}
    <div class="container">
        <h1 style="text-align: center;">Saved images from  {{ page.url.url }}</h1>
        <br/>
        <!--progressbar-->
        <div>
            <div id="mpc" class="progress active">
              <div id="mpb" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                <span class="sr-only">
                    <span id="mpll" class="prgspan">0</span> of <span id="mplt" class="prgspan">0</span>
                </span>
              </div>
            </div>
        </div>
        <br />
        <!--images-->
        <div id='imglst'>
        {% for image in images %}
            <a href="{{MEDIA_URL}}{{image.pk}}{{image.ext}}">
                <img src="{%if image.url.status == 2%}{{MEDIA_URL}}{{image.pk}}{{image.ext}}{% else %}{{ image.url.url }}{% endif %}"/>
            </a>
        {% endfor %}
        </div>
    </div>
    <hr>
{% endblock %}
