{% extends "base.html" %}

{% block additional_imports %}
<script src="{{ STATIC_URL }}js/page_progress.js"></script>
<script>
	var timestamp = {{ timestamp }};
	var pageid = {{ page.url.id }};
</script>
{% endblock %}

{% autoescape on %}
{% block title %} Saved images from {{ url.url }} {% endblock %}
{% endautoescape %}

{% block container %}
    <div class="container" style="text-align: center;">
        <h1>Image page goes here</h1>
        {# {{ args }} #}
        <br/>
        {# {{ kwargs }} #}
        <br/>
        {{ page }}
        <br/>
        Images:
        <br />
        {% for image in images %}
    		{% if image.url.status == 2 %}<a href="{{IMAGE_SAVE_PATH}}{{image.id}}.{{image.ext}}">{% endif %}
			<img alt="example4" class="img_preview" src="{%if image.url.status == 2%}{{IMAGE_SAVE_PATH}}{{image.id}}.{{ image.ext }}{ %else %}{{ image.url }}{% endif %}">
		{% if image.url.status == 2 %}</a>{% endif %}
        {% endfor %}
        <br/>
        Timestamp:
        <br/>
        {{ timestamp }}
    </div>
    <hr>
{% endblock %}
